html, body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    background-color: #FFF;
}

button {
    font-family: "Josefin Sans", sans-serif;
}

body[js=off] {
    #no-js {
        display: flex;
        z-index: 9999;
    }
}

#no-js {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    align-content: center;
    text-align: center;
    font-size: 5rem;
    z-index: 9999;
    display: none;
}

header {
    width: 100%;
    border-bottom: 2px solid #C5C5FF;
    padding: 10px;
    display: flex;
    box-sizing: border-box;

    .content {
        flex: 1;

        .title {
            font-size: 36px;
            font-weight: 700;
            font-style: italic;
        }
        .subtitle {
            font-size: 24px;
            padding-left: 5px;
        }
    }

    .status {
        background-color: #F5F5F5;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid #CCC;
        display: flex;
        align-items: center;

        > .txt {
            padding: 0 5px;
            font-size: 1.4rem;
        }

        > .bubble {
            width: 30px;
            height: 30px;
            border-radius: 20px;
            display: block;

            &.ok {
                background-color: green;
            }
            &.down {
                background-color: red;
            }
        }
    }
}

#menu {
    width: 100%;
    background: linear-gradient(90deg,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0) 100%);

    .contents {
        margin: 0 auto;
        max-width: 1280px;
        display: flex;
        font-size: 1.6rem;
        padding: 10px;

        > .location {
            flex: 4;
        }
    
        > .amenities {
            margin-left: 20px;
            flex: 3;
        }
    
        > .search {
            width: 180px;
            margin-left: 20px;
            align-items: center;
    
            > button {
                width: 100%;
                height: 100%;
                font-weight: 500;
                font-size: 2rem;
                cursor: pointer;
            }
        }
    
        > .location, .amenities {
            .title {
                font-size: 2.2rem;
                border-bottom: 1px solid #999;
                margin-bottom: 10px;
                padding-top: 5px;
            }
    
            .choice {
                font-size: 1.8rem;
    
                > span {
                    // prevent accidental highlighting of the text when choosing option
                    user-select: none; 

                    > label {
                        padding: 8px 5px 5px 5px;
                        border: 1px solid rgba(0,0,0,0);

                        &:hover {
                            border: 1px solid rgba(0,0,0,0.3);
                            background-color: #E5E5E5;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        &:active {
                            border: 1px solid rgba(0,0,0,0.5);
                            background-color: #C5C5C5;
                        }
                    }                   
                }
    
                input[type=radio] {
                    margin-right: 0px;
                }
    
                button {
                    padding: 5px 2px 2px 2px;
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #CCC;
    background-color: #FFF;
    padding: 10px;
    box-sizing: border-box;
}