<header class="header">
    <nav class="navbar">
      <div class="logo"></div>
      <div class="Desktop_NavLinks">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Book an Escape</a>
        <a href="#">Gift Vouchers</a>
        <a href="#">Become a Host</a>
        <a href="#">Sign Up</a>
        <a href="#">Login</a>
        <div class="status">
            <a href="/admin">Admin area</a>
          </div>
      </div>
    </nav>
    <div style="position: absolute;">{{ country_name }} {{ city_name }}</div>
  </header>
  