<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/fontawesome/css/all.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/img/favicon.ico" />
    <script type="text/javascript" src="../static/js/index.js"></script>
    <title>HBnB Evolution Part 03</title>
</head>
<body pg-name="index" js="off">
    {% include "header.html" %}

    <div id="no-js">
        <!-- There will be a brief flash-of-unstyled-content where this message appears -->
        <!-- How do we fix this this? -->
        <h1>Please enable Javascript in your browser to view the site!</h1>
    </div>

    <div id="menu">
        <div class="contents">
            <div class="destination">
                <div class="title">Destination</div>
                <div class="choice">
                    <span>
                        <label>
                            <input type="radio" name="destination-radio-group" value="all" checked />
                            <span>All</span>
                        </label>
                    </span>
                    {% for country in countries %}
                    <span>
                        <label>
                            <input type="radio" name="destination-radio-group" value="{{ country.code }}" />
                            <span>{{ country.name }}</span>
                        </label>
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="amenities">
                <div class="title">
                    <span class="text">Amenities</span>
                    <span class="selected">
                        <span class="count">0</span>
                        <span>selected</span>
                    </span>
                </div>
                <div class="choice">
                    <span>
                        <label>
                            <input type="radio" name="amenities-radio-group" value="anything" checked />
                            <span>Anything</span>
                        </label>
                    </span>
                    <span>
                        <label>
                            <input type="radio" name="amenities-radio-group" value="specific" />
                            <span>Specific Ones</span>
                            <button id="btn-specific-amenities-select">
                                <span>Please select</span>
                                <span class="arrows">&raquo;</span>
                            </button>
                        </label>
                    </span>
                    <div id="amenities-submenu" state="hide">
                        <div class="instruct">
                            Choose the ones that must be present
                        </div>
                        <div class="items">
                            {% for amenity in amenities %}
                            <label>
                                <input type="checkbox" value="{{ amenity.id }}" checked>
                                <span>{{ amenity.name }}</span>
                            </label>
                            {% endfor %}
                        </div>
                        <div class="confirm">
                            <button id="btn-specific-amenities-ok">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search">
                <button id="btn-menu-search">Search &raquo;</button>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</body>
</html>